
#cabecalho{
    width: 100%;
    border-bottom: solid 2px var(--DarkSect);
    background: var(--LightSect);
}

a{
    color: var(--LightSect) !important;
}

#cabecalho h2{
    font-family: 'Share Tech Mono';
    color: var(--ForeGround);
    text-align: center;
    font-size: 35px;
    text-shadow: 4px 4px var(--Background);
    width: 90%;
    margin: 5% auto;
}

#cabecalho p{
    font-family: monospace;
    font-size: 22px;
    text-align: center;
    color: var(--DarkSect);
    margin: 5% auto;
    width: 80%;
    font-weight: bold;
}

fieldset{
    border: 0;
}

#form{
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
}

form{
    background-color: var(--Background);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
}

input,select,textarea,button{
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}
.campo{
    margin-bottom: 10px;
    width: 100%;
}

.grupo {
    display: flex;
    justify-content: space-between;
}

.campo label{
    margin-bottom: 2px;
    color: var(--ForeGround);
    display: block;
}

fieldset .grupo .campo {
    float: left;
    margin-right: 10px;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 5px;
    border: 1px solid var(--LightSect);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: auto;
}

.campo select option {
    padding-right: 10px;
}

.campo input:focus, 
.campo select:focus, 
.campo textarea:focus {
    background: var(--LightSect);
    outline: none;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.button{
    font-family: 'Share Tech Mono';
    font-size: 35px;
    color: var(--DarkSect);
    background: var(--LightSect);
    text-align: center;
    padding: 3%;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 2px var(--DarkSect);
    cursor: pointer;
}

.button:hover{
    background: var(--ForeGround);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#SaibaMais h2{
    font-family: 'Share Tech Mono';
    font-weight: 100;
    font-size: 27px;
    text-decoration: underline;
    margin: 3%;
}

#SaibaMais address{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 1%;
}

@media only screen and (max-width: 600px) {
    #cabecalho h2 {
        font-size: 25px;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    #cabecalho p {
        font-size: 18px;
    }

    .campo input[type="text"],
    .campo input[type="email"],
    .campo input[type="tel"],
    .campo textarea {
        width: auto;
    }

    .campo label {
        font-size: 16px;
    }

    .button {
        font-size: 20px;
    }

    #SaibaMais h2 {
        font-size: 20px;
    }

    #SaibaMais address {
        font-size: 12px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #cabecalho h2 {
        font-size: 30px;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    #cabecalho p {
        font-size: 20px;
    }

    .button {
        font-size: 30px;
    }

    #SaibaMais h2 {
        font-size: 25px;
    }

    #SaibaMais address {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1025px) {
    #cabecalho h2 {
        font-size: 35px;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    #cabecalho p {
        font-size: 22px;
    }

    .button {
        font-size: 35px;
    }

    #SaibaMais h2 {
        font-size: 27px;
    }

    #SaibaMais address {
        font-size: 15px;
    }
}