:root{
    --Background : #FAF1E4;
    --LightSect  : #CEDEBD;
    --DarkSect   : #9EB384;
    --ForeGround : #435334;
}

.Post-title{
    margin: 5% auto;
    text-align: center;
    color: var(--DarkSect);
}

.altContent{
    width: 100%;
    height: fit-content;
    background-color: var(--DarkSect);
    display: flex;
    flex-flow: column;
}

.altContent p {
    color: var(--Background);
    margin-top: 0;
}

.altContent img{
    
    width: 80%;
    margin: 10% auto;
    border-radius: 15px;
    box-shadow: 0 0 15px gray;
}

#Galeria{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Galeria article{
    width:49%;
    margin: 2px;
    height: 300px;
    background: var(--DarkSect);
    overflow: hidden;   
    text-align: center;
    color: var(--ForeGround);
}

.tumbnail{
    width: 90%;
    height: 80%;
    object-fit: cover;
    margin: 5%;
}

#Modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000d6;
    z-index: 5;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    display: none;
    opacity: 0;
}

#Modal article{
    width: 90%;
    background: var(--DarkSect);
    display: flex;
    flex-direction: column;
}

#Modal img{
    height: fit-content;
    border: 4px solid var(--ForeGround)
}

#Modal p{
    color: var(--ForeGround);
    margin-top : 0;
}

.video{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video h2{
    margin-bottom : 2%;
    text-align: center;
}


@media only screen and (min-width : 1000px) {
    #Modal img{
        width: 80%;
        height: 350px;
        margin: 5% auto;
    }

    #Modal p {
        text-align: center;
        width: 60%;
        margin: 0 auto 5%;
    }

    #Modal article{
        width : 60%
    }

    iframe{
        width: 560px;
        height: 315px;
    }
}