:root{
    --Background : #FAF1E4;
    --LightSect  : #CEDEBD;
    --DarkSect   : #9EB384;
    --ForeGround : #435334;
}   

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}

table{
    margin: 5% auto;
    border: solid 2px var(--DarkSect);
    font-family: 'Share Tech Mono';
    color: var(--DarkSect);
}

th, td{
    border: solid 1px var(--DarkSect);
    padding: 5px;
}

a{
    text-decoration: none;
    color: var(--Background) !important
}

#contatos{
    margin-top: 1% !important;    
    margin-bottom: 1% !important;
}

html, body{width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--Background);
    flex-direction: column;
    overflow-x: hidden;
    position: absolute;
}

h1,h2,h3,h4, h5 {
    font-family: 'Share Tech Mono', monospace;
}

h1{
    color: var(--ForeGround);
}

h2{ 
    color: var(--DarkSect);
    font-size: 25px;
}

header{
    background: var(--DarkSect);
    padding: 15px;
    box-shadow: 0 0 10px grey;
    z-index: 4;
    height: 40px;
}

#navBar{
    position: absolute;
    right: -100%;
    top: 70px;
    width: 65%;
    background-color: var(--LightSect);
    transition: right 0.5s;
    z-index: 3;
    border-left: solid 4px var(--Background)
}

.NavItem{
    font-family: 'Share Tech Mono', monospace;
    color: var(--DarkSect);
    border-bottom: 4px solid var(--DarkSect);
    padding: 5%;
}

.title{
    float: left;
    width: fit-content;
}

.titleH2 {
    float: left;
    width: fit-content;
    margin-left: 5%;
    color: var(--DarkSect);
}

.Hamburger{
    height: 40px;
    float: right;
    width: 40px;
    background: var(--ForeGround);
    border-radius: 25%;
    margin-right: 5px;
}

.Hamburger img{
    width: 100%;
}

#MainBanner{
    width: 100%;
    border-bottom: solid 2px var(--DarkSect);
    background: var(--LightSect);
}

#MainBanner h2{
    font-family: 'Share Tech Mono', monospace;
    color: var(--ForeGround);
    font-size: 100px;
    font-weight: 100;
    margin-top: 20%;
    margin-left: 10%;
    text-shadow: 6px 6px var(--DarkSect);
    position: relative;
    z-index: 2;
}

#MainBanner h4{
    font-family: monospace;
    font-size: 20px;
    color: var(--DarkSect);
    margin-left: 10%;
    font-weight: bold;
    margin-bottom: 10%;
}

#LowerBanner{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Button{
    font-family: 'Share Tech Mono';
    color: var(--DarkSect);
    background: var(--LightSect);
    padding: 3%;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px var(--DarkSect);
}

.Button:hover {
    background: var(--ForeGround);
    cursor: pointer;
}

.Detail{
    float: right;
    border-bottom-left-radius: 50%;
    background-color: var(--LightSect);
    z-index: 0;
}

.Detail_Main{
    float: right;
    border-bottom-left-radius: 50%;
    background-color: var(--LightSect);
    z-index: 0;
    width: 200px;
    height: 200px;
    top: 7%;
    right: 0;
    position: absolute;
    background: var(--Background);

}

#SaibaMais,#SaibaMaisArtigo{
    display: flex;
    background-color: var(--DarkSect);
    border-top: 2px solid var(--LightSect);
    color: var(--ForeGround);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: -webkit-fill-available;
}

#SaibaMais address {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin: 1%;
}

#SaibaMais h2, #SaibaMaisArtigo h2{
    font-family: 'Share Tech Mono';
    font-weight: 100;
    font-size: 30px;
    text-decoration: underline;
    margin: 10%;
    margin-bottom: 0;
    color: var(--LightSect);
}

p {
    font-family: sans-serif;
    font-size: 20px;
    margin: 10%;
    color: var(--DarkSect);
}

#SaibaMais p,#SaibaMaisArtigo p{
    color: var(--ForeGround);
    margin-Bottom: 0;
}

.topic ul li{
    color: var(--DarkSect);
    margin: 2% auto;
    font-family: sans-serif;
    width: 60%;
    font-size: 30px;
}



@media only screen and (max-width: 600px){

    .title{
        font-size: 25px;
    }
    
    p{
        font-size: 20px;
    }

    .topic ul li{
        font-size: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    #MainBanner h2{
        margin-top: 20%;    
        margin-left: 20%;
    }

    #MainBanner h4{
        margin-left: 20%;
    }

    .Button{
        padding: 1% 5%;
    }

    p {
        font-size: 20px;
        margin: 5% auto;
        width: 60%;
    }

    #SaibaMais{
        text-align: center;
    }

    #SaibaMaisArtigo h2{
        font-size: 35px;
    }

    #navBar {
        width : 25%;
    }

    #SaibaMais address {
        font-size: 15px;
    }

    .title{
        font-size: 30px;
    }

    .titleH2{
        font-size: 30px;
    }

    .topic ul li{
        font-size: 20px;
    }

    
    .Post-title h2{
        width: 100%;
    }
}

@media only screen and (min-width: 1025px){

    p {
        font-size: 30px;
        margin: 5% auto;
        width: 60%;
    }

    .topic ul li{
        font-size: 30px;
    }

    #SaibaMais{
        text-align: center;
    }

    #SaibaMaisArtigo h2{
        font-size: 45px;
    }

    #navBar {
        width : 25%;
    }

    #SaibaMais address {
        font-size: 20px;
    }

    .title{
        font-size: 45px;
    }

    .titleH2{
        font-size: 40px;
    }

}