/*Jean Koerich*/


/*Exemplo !important da fonte*/
@font-face {
    font-family: fonte_teste;
    src: url(fonte_Sansation_Light.woff);
}

h1{
    color: cadetblue;
}

/*Exemplo do uso do !important*/
p{
    color: blue !important;
}

p{
    color: red;
}

/*Exemplo Media Queries*/
body{
    background-color: gray;
}

/*Tamanho - medio / tablet*/
@media(min-width: 768px){
    body{
        background-color: yellow;
    }
}

/*Tamanho - Desktop*/
@media(min-width: 1000px){
    h1{
        text-align: center;
        display: block;
    }
    body{
        background-color: green;
    }
}